
@font-face {
  font-family: 'WorkSans';
  src: url('./assert/font/WorkSans-Regular.woff2'), format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url('./assert/font/WorkSans-SemiBold.woff2'), format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url('./assert/font/WorkSans-Bold.woff2'), format('woff2');
  font-weight: 700;
  font-style: bold;
}

body {
  font-family: 'WorkSans', sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

input:focus, input:focus-visible {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

h1 , h2, h3, h4{
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
}

.header {
  background-color: #116ACC;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.header__line {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.main {
  padding: 50px 0;
}

.main__login-from {
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form  {
  display: flex;
  flex-direction: column;
  padding: 50px 85px 75px 50px;
  background: #F3F4F6;
  border-radius: 50px;
}

.error {
  align-self:center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #BA0000;
  padding-left: 30px;
  background-image: url('./assert/img/error.svg');
  background-position: left center;
  background-repeat: no-repeat;
  margin-bottom: 5px;
}

.error-big {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  align-self:center;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  color: #BA0000;
  padding-left: 30px;
  background-image: url('./assert/img/error.svg');
  background-position: left center;
  background-repeat: no-repeat;
}

.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #000000;
}

.login-form__title {
  padding-left: 70px;
  margin-bottom: 35px;
}

.login-form__input-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
}

.login-form__input-wrapper span {
  margin-right: 18px;
}

.login-form__input-wrapper:last-child {
  margin-bottom: 30px;
}

.login-form__button {
  position: absolute;
  bottom: 19px;
  left: 122px;
  padding: 14px 21px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  background: #116ACC;
  border-radius: 7px;
  border: none;
}

.login-form__input {
  width: 300px;
  padding: 10px 14px;
  border: 1px solid #9CA3AF;
  border-radius: 7px;
}

.error-input {
  border-color: #BA0000;
}

.spinner {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #B3CEE2;
  border-radius: 50%;
  border-left-color: #116ACC;
  border-right-color: #116ACC;
  border-top-color: #116ACC;
  border-bottom-color: transparent;
  height: 64px;
  width: 64px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}


.main__container {
  position: relative;
}

.choices {
  position: absolute;
  top: 0;
  left: 240px;
  width: 300px;
}

.check__button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px 24px 16px 54px;
  background: #116ACC;
  border-radius: 7px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-image: url('./assert/img/X.svg');
  background-repeat: no-repeat;
  background-position: 25px center;
}

.check__button-back {
  background-image: url('./assert/img/coolicon.svg');
}

.check__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.check__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  padding: 22px;
  margin-bottom: 50px;
  margin-right: 50px;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.check__item:nth-child(3n) {
  margin-right: 0;
}

.check__item-id {
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #182233;
}

.check__item-price {
  margin-bottom: 31px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #182233;
}

.check__item-last {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}

.check__item-date {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}

.main__title {
  margin-bottom: 57px;
}

.check__item-btn {
  position: absolute;
  bottom: 22px;
  right: 22px;
  padding: 16px 21.5px;
  background: #116ACC;
  border-radius: 7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.header__nav-btn:not(:last-child) {
  margin-right: 25px;
}

.header__nav-btn {
  padding: 12px 22px;
  background: #FFFFFF;
  border-radius: 7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #116ACC;
}

.header__nav-btn--active {
  background: #A0C3FF;
}

.main__subtitle {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  color: #000000;
}

.main__title-details {
  margin-bottom: 30px;
} 

.main__form-tranz-details {
  margin-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 606px;
  padding: 25px 50px;
  background: #F3F4F6;
  border-radius: 50px;
}

.title-form {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.main__form-tranz-wrapper-number, .main__form-tranz-wrapper-count {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
}

.main__form-tranz-descr {
  margin-right: 18px;
}

.main__form-tranz-count, .main__form-tranz-number {
  width: 300px;
}

.main__form-tranz-btn {
  padding: 16px 24px 16px 58px;
  align-self: center;
  background: #116ACC;
  border-radius: 7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-image: url('./assert/img/send.svg');
  background-repeat: no-repeat;
  background-position: 26px center;
}

.main__form-tranz-count {
  padding: 10px 16px;
  border: 1px solid #9CA3AF;
  border-radius: 7px;
}

.choices__inner {
  border-radius: 7px;
  border: 1px solid #116ACC;
}

.main__form-tranz-wrapper-number .choices {
  position: relative;
  left: 0;
  width: 300px;
}

.main__form-tranz-wrapper-number .choices__inner {
  padding: 10px 16px;
  border: 1px solid #9CA3AF;
  border-radius: 7px;
}

.main__table-title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.main__history-table {
  width: 100%;
}

.main__history-table {
  width: 100%;
}

.main__table-head {
  display: flex;
  margin: 0 -20px;
  padding: 20px 50px;
  background-color: #116ACC;
  border-radius: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF
}

.main__table-head div {
  width: 16.666666666%;
  padding: 0 20px;
}

.main__table-head div:nth-child(1),
.main__table-head div:nth-child(2){
  width: 25%;
}

.main__history-row {
  display: flex;
  margin: 0 -20px;
  padding: 20px 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #374151;
  border-bottom: 2px solid rgba(0, 82, 255, 0.1);
}

.main__history-row div {
  width: 16.666666666%;
  padding: 0 20px;
}

.main__history-row div:nth-child(1),
.main__history-row div:nth-child(2){
  width: 25%;
}

.debit {
  color: #76CA66;
}

.credit {
  color: #BA0000;
}

.main__balance {
  min-width:201px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  top:105px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.main__balance span:first-child {
  font-weight: 700;
  margin-right: 20px;
}

.main__grafic-title {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.main__grafic {
  position: absolute;
  top:150px;
  right: 0;
  padding: 20px 50px 33px 50px;
  width: 684px;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  height: 288px;
}

.to-history {
  cursor: pointer;
}

.main__grafic-big {
  position: relative;
  margin-bottom: 50px;
  padding: 25px 100px 35px 100px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  height: 288px;
}

.main__table-wrapper{
  padding: 25px 70px;
  background: #F3F4F6;
  border-radius: 56px;
}

.table__null {
  padding-top: 30px;
  text-align: center;
  font-size: 22px;
}

.grafic__null {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  font-size: 22px;
}
